/* color

darkblue #233142 35, 49, 66

lighter blue #36506c 54, 80, 108 

light blue #a5def1  165, 222, 241 

white #ebf7fd 235, 247, 253 



*/




*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #233142 ;
    display: flex;
    flex-direction: column;

}
.navbar{
    background-color: #36506C;
    width: 100vw;
    height: 3.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;


}
.navbarblur{
    background-color: rgba(54, 91, 131, 0.8);
    
    width: 100vw;
    height: 3.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

#logo{
    width: 15%;
    height: 3vw;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
#saagii{
    margin: 0  ;
    color: #EBF7FD ;
    font-family: 'Outfit', sans-serif;
}
#sg{
    font-family: 'Outfit', sans-serif;
    color: #A5DEF1 ;

}

a{
    font-family: 'Outfit' , sans-serif;
    background-color: rgba(54, 80, 108, 0.0 ) ;
    border: none;
    font-size: 1.1rem ;
    color: #EBF7FD ;
    font-weight: 100;
    transition: 0.2s;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: 0.3s linear;
}
section:nth-child(odd)
a:hover, a.active{
    text-decoration: none;
    font-family: 'Outfit' , sans-serif;
    color: #A5DEF1 ;
    border: none;
    font-size: 1.1rem ;
    font-weight: 300;
}
#button{

    width: 40%;
    height: 3vw;
    display: flex;
    justify-content: space-evenly ;
}

#home{
    margin-top: 2vh;
    width: 100vw;
    height: 45vw;
    background-color: #233142 ;
    display: flex;
    justify-content: center;



}
.content{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

#intro{
    width: 45%;
    height: 100%;
    font-family: 'Outfit' ;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.introword{
    width: 100%;
    height: 60%;
    color: #EBF7FD ;
    font-family: 'Outfit' ;
    display: flex;
    justify-content: space-around;
    flex-direction: column  ;
}
 .span{
    margin-left: 1rem;
    color: #36506C;
    font-weight: 200;
    font-size: 2.5rem;
}
.p{
   font-size: 2.5rem; 
}
.okey{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.itsok{
    width: 100%;
    height: 66%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.itisok{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 .mainword{
    color: #A5DEF1;
    font-size: 3.2rem;
    display: flex;
    justify-content: flex-start;
}
.secondheader{
    font-size: 1.6rem;
}

.hook{
    width: 65%;
    font-size: 1.6rem;
}

.buttonsec{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btnword{
    margin-left: 1vw;
    color: #EBF7FD;
    font-weight: 300;
    font-size: 1.8rem;
}
#introbtn{
    margin-left: 1vw;
    width: 13vw;
    height: 4vw;
    border-radius: 1.5vw;
    background-color: #233142;
    border: 0.25vw solid #36506C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBF7FD;
    font-family: 'Outfit' ;
    font-weight: 100;
    font-size: 1.3rem;
    transition: 0.3s;

}
#introbtn:hover{
    margin-left: 1vw;
    width: 13vw;
    height: 4vw;
    border-radius: 1.5vw;
    background-color: #233142;
    border: 0.5vw solid #36506C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBF7FD;
    font-family: 'Outfit' ;
    font-weight: 200;
    font-size: 1.6rem;
    transition: 0.3s;

}
#photo{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


}
.belowphoto{
    width: 32vw;
    height: 31vw;
    border-radius: 16vw  10vw ;
    background-color: #36506C;
}
.aboutcontainer{
    width: 100% ;
    background-color:#233142;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Outfit';
    color: #EBF7FD;
    font-weight: 100;
}
#about{
    margin-top: 3vh;
    width: 100vw;
    height: 70vw;
    background-color:#233142;
    display: flex;
    flex-direction: column;
    justify-content: center;
    


}
.aboutII{
    margin-top: 3vh;
    width: 100vw;
    height: 70vw;
    background-color:#233142;
    display: flex;
    justify-content: center;
}
.bigboy{
    width: 85%;
    height: 99.7%;
}
#midboy{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;


}
#midboII{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly  ;



}
#text{
    width: 45%;
    height: 50%;
    color: #EBF7FD;
    display: flex;  
    justify-content: flex-end;

}
.midtext{
    margin-top: 2rem;
    font-family: 'Outfit';
    font-size: 1.8rem;
    display: flex;
    justify-content: flex-end;
}

#midboyimg{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#divimgrec{
    width: 30vw;
    height: 30vw;
    border-radius: 10vw  16vw ;
    background-color: #36506C;

}
#midboyIIimg{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
#textII{
    width: 38%;
    height: 80%;
    font-family: 'Outfit';
    font-size: 1.8rem;
    color: #EBF7FD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#srvcs{
    margin-top: 10vh    ;
    width: 100%;
    font-family: 'Outfit';
    color: #EBF7FD;
    font-size: 2.5rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
}
#services{
    margin-top: 10vh;
    width: 100vw;
    height: 70vw;
    background-color: #233142;
    display: flex;
    justify-content: center;


}


.cards{
    width: 90vw;
    height: 63vw;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

/* ================================cards / webpage ===================================== */
.smallwebpageimg{
    width: 20vw;
    height: 15vw;
    background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-1.jpg?raw=true);
    border-radius: 1vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.1s;
    
}
#smallwebpage{
    width: 20vw;
    height: 15vw;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(165, 222, 241 , .2)); 
    border-radius: 1vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.1s;
    
}
#smallwebpage:hover{
    transform: scale(1.05);
    
    background: linear-gradient(180deg, rgba(255,0,0,0), rgba(165, 222, 241 , .5));
  
    border-radius: 2vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.4s;
    }
    .smallwebpageimg:hover{
        transform: scale(1.05);
        background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-1.jpg?raw=true);
        border-radius: 2vw ;    
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        font-family: 'Outfit';
        font-weight: 150;
        color: #EBF7FD;
        transition: 0.4s;
        }
/* =====================================cards / webpage end =========================================== */
/* ========================= cards / wbedesign =================================================== */
.smallwebdesignimg{
    width: 20vw;
    height: 15vw;
    background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-5.jpg?raw=true);
    object-fit: scale-down;
    border-radius: 1vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.1s;
    
}
#smallwebdesign{
    width: 20vw;
    height: 15vw;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(165, 222, 241 , .2)); 
    border-radius: 1vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.1s;
    
}
#smallwebdesign:hover{
    transform: scale(1.05);
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(165, 222, 241 , .5)); 
    border-radius: 2vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.4s;
}
.smallwebdesignimg:hover{
    transform: scale(1.05);
    background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-5.jpg?raw=true);
    border-radius: 2vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.4s;
    }
/* ========================== cards / webdesign end========================================================================== */

/* ========================== cards / logodesign ========================================================== */
.smalllogoimg{
    width: 20vw;
    height: 15vw;
    background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-3.jpg?raw=true);
    object-fit: scale-down;
    border-radius: 1vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.1s;
    
}
#smalllogo{
    width: 20vw;
    height: 15vw;
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(165, 222, 241 , .3)); 
    border-radius: 1vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.4s;
    
}


#smalllogo:hover{
    transform: scale(1.05);
    background: linear-gradient(180deg, rgba(0,0,0,0), rgba(165, 222, 241 , .5)); 
    border-radius: 2vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.4s;
}
.smalllogoimg:hover{
    transform: scale(1.05);
    background-image: url(https://github.com/bedimcode/responsive-portfolio-website-patrick/blob/main/assets/img/project-img-3.jpg?raw=true);
    object-fit: scale-down;
    border-radius: 2vw ;    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit';
    font-weight: 150;
    color: #EBF7FD;
    transition: 0.1s;
    
}
/* ===================== cards / logodesign end================================================================================= */
/* .imgI{
    width: 100%;
    height: 100%;
} */
.smlwrd{
    margin-top: 1.5vh;
    font-weight: 100;
    font-size: 1.5rem;
}
#smlcards{
    display: flex;
    justify-content: space-around;
    
}
#bigcards{
    width: 90vw;
    height: 40vw;
    display: flex;
    justify-content: center;
}
#bgcards{
    width: 80vw;
    height: 40vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#big{
    margin-top: 1.3vh;
    width: 80vw;
    height: 25vw;
    background-color: #36506C;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    transition: 0.3s;
    align-items: center;
}
.lol{
    margin-top: 3vh;
    font-family: 'outfit';
    font-size: 2rem;
    color: #EBF7FD;
}
#big:hover{
    margin-top: 1.3vh;
    transform: scale(1.03);
    border-radius: 1.5rem ;
    border: .05rem solid #A5DEF1;
    background: linear-gradient( rgba(54, 80, 108, 0.5 ), rgba(165, 222, 241,  0.3), rgba(54, 80, 108, 0.5 ) );
    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    transition: 0.3s;

}
/* about */

#contactpage{
    margin-top: 2vh;
    width: 100vw;
    height: 55vw;
    background-color: #233142;
    display: flex;
    flex-direction: column;
}
.lmao{
    width: 100%;
    font-family: 'Outfit';
    color: #A5DEF1;
    font-size: 1.5rem;
    display: flex  ;
    justify-content: center;
    font-weight: 150;
}
.lmfao{
    width: 100%;
    font-family: 'Outfit';
    color: #EBF7FD;
    font-size: 2.5rem;
    display: flex  ;
    justify-content: center;
    font-weight: 150;
}
.contact_me{
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
}
.namegmail{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.name{
    display: flex;
    justify-content: space-between;
}
.input{
    width: 47vh;
    height: 3.3vw;
    background-color: #36506C;
    border: none;
    color: #EBF7FD;
    font-family: 'Outfit';
    border-radius: .5rem;
    padding-left: .5rem;
    transition: .4s;

}
.input:focus{
    transition: .4s;
    background-color: rgba(165, 222, 241 , .4);
}
.write{
  
    width: 100%;
    height: 60%;
    background-color: #36506C;
    border-radius: 1vw;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    
}
.writem{
    padding-top: 1rem;
    padding-left: 1rem;
    width:100%;
    height: 9%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: #EBF7FD;
    resize: none;
    transition: .4s;
}
.writem:focus{
    transition: .4s;
    border: none;
    width:100%;
    height: 96.8%;
    resize: none;
    border: none;
    color: #EBF7FD;
    resize: none;
    border-radius: 1rem;
    background-color: rgba(165, 222, 241 , .4);
    
}
.input::placeholder{
    color: #EBF7FD;
    
}
.writem::placeholder{
    color: #EBF7FD;
    font-family: 'Outfit';
    font-size: 1rem;
}
.outrobtn{
    margin-left: 1vw;
    width: 13vw;
    height: 4vw;
    border-radius: 1.5vw;
    background-color: #233142;
    border: 0.25vw solid #36506C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBF7FD;
    font-family: 'Outfit' ;
    font-weight: 100;
    font-size: 1.3rem;
    transition: 0.3s;
}
.outrobtn:hover{
    margin-left: 1vw;
    width: 13vw;
    height: 4vw;
    border-radius: 1.5vw;
    background-color: #233142;
    border: 0.5vw solid #36506C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EBF7FD;
    font-family: 'Outfit' ;
    font-weight: 200;
    font-size: 1.6rem;
    transition: 0.3s;
    }
.outrobtncontainer{
    margin-top: 1rem;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;


}
/* about end */

.footer{
    margin-top: 2rem;
    width: 100vw;
    height: 15vw;
    background-color: #36506C ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.lock{
    margin-top: 2rem;
    width: 100vw;
    height: 10vw;
    background-color: #36506C ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links{
    width: 40%;
    display: flex;
    justify-content: space-around;
    
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #233142;
    font-size: 3rem;
    transition: .25s linear;

}
.fa-facebook,.fa-instagram,.fa-twitter, .fa-twitch {
    color: #EBF7FD;
    font-size: 3rem;
    transition: .25s linear;

}
.date{   
    width: 15%;
    height: 3vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Outfit';
    color: #EBF7FD;
}
#date{
    font-family: 'Outfit';
    color: #233142;
    font-size: 1rem;

}